form{
  border: 1px solid #F00;
  border-style: dashed solid;
  border-width: 1px 5px;
  border-radius: 30px;
  padding: 30px;
}

.input{
  border: 1px solid #00F;
}

.select{
  border: 2px dotted #FF9;
}

.textarea{
  border 2px solid #AAF;
  border-radius: 10px;
}
