.container{
  width: 960px;
  background: lightgrey;
  margin: auto;
}

.clearfix{ clear:both }

header{
  height: 200px;
  background: purple;
  width: 100%;
  margin-bottom: 15px;
}

.cajitas{
  float: left;
  margin-left: 10px;
  width: 20%;
}

.cajitas ul{
list-style-type: none;
}

.cajitas ul li{
  background: blue;
  padding: 5px;
  margin-bottom: 10px;
}

.barra-derecha{
  float: right;
  background-color: #33FF88;
  width: 35%;
}

footer{
  width: 100%;
  background: #BBBB99;
  margin-top: 20px;
  text-align: center;
}
