/* Small Devices, Tablets */
@media only screen and (min-width : 480px) {


  .cajitas{
    position: relative;
    width: 20%;
    margin-bottom: 200px;
  }

  .barra-derecha{
    float: none;
    width: 90%;
    margin: 10px auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 960px) {
    .container{
      width: 960px;
    }

    .cajitas{
      float: left;
      margin-left: 10px;
      width: 20%;
    }

    .barra-derecha{
      float: right;
      width: 35%;
    }
}
